*{
    padding: 0;
    margin: 0;
}
.fondo{
    background-color: lightcoral;
    height: 100%;
    width: 100%;
}
.nav{
    
    
    list-style: none;
    background-color: black;
    position: relative;
    width: 100%;
}
nav ul li{
    display: inline-block;
}
nav ul li a{
    padding: 12px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 32px;
    text-decoration: none;
    color: white;
    transition: 0.8s;
}
a:hover{
    color: blueviolet;
}


.titulo{
    font-size: 40px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    top: 75;
    left: 25;
    position: absolute;
    color: white;
}
.color2{
    color: red;
}

.supercaja{
    display: flex;
    position: relative;
    width: 100%;
}
.cajitas{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
    height: 50%;
    padding-top: 50px;
}
.footer{
    background-color: black;
    width: 100%;
    position: relative;
}
.titulo_footer{
    color: beige;
    padding-left: 10px;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
footer ul li a{
    margin-left: 10px ;
    
    list-style: none;
    text-decoration: none;
    
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    color: aliceblue;

}